.global {
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    align-items: center;
    background-color: #374464;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 10px;
    height: fit-content;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #273046;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.title {
    margin-right: auto; 
    margin-left: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
}

.title1 {
    margin-right: 20px;
    color: rgb(167, 222, 190); 
    font-size: 1.2rem;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    margin-left: auto; 
    margin-right: auto; 
}

.weightLbs {
    width: 33%;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
}

.weightLbs1 {
    width: 33%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
}

.weightLbs2 {
    margin-right: 20px;
    color: white;
    margin-top: 20px;
}
