.basic {
    position: absolute;
    color: black; 
    font-size: 0.8rem;
    font-weight: 500;
    background-color: white;
    border-radius: 5px;
    height: fit-content; 
    width: 150px;
    right: 0; 
    margin-right: 1rem;
    top: 3.05rem;
    cursor: pointer;
    padding-top: 10px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.basic:hover {
    background-color: aliceblue;
}

.action {
    margin-bottom: 10px;
    display: flex;
    margin-left: 1rem; 
}

.action:hover {
    color: dodgerblue;
}