.basic {
    position: absolute;
    color: black; 
    font-size: 0.8rem;
    font-weight: 500;
    background-color: white;
    border-radius: 5px;
    height: fit; 
    width: 150px;
    right: 0; 
    margin-right: 1rem;
    top: 3.3rem;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}

.basic:hover {
    background-color: aliceblue;
}

.action {
    display: flex;
    align-items:center ;
    margin-left: 1rem; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.action:hover {
    color: dodgerblue;
}