.basic {
    display: flex;
    color: white; 
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    background-color: #202A44;
    height: 80px; 
}

.text {
    display: flex;
    margin-right: auto;
    margin-left: 1rem;
}

.icon {
    cursor: pointer;
    display: flex;
    margin-left: auto;
    margin-right: 1rem;
}

.icon:hover {
    color: black;
}