@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap');

.basic {
    font-family: 'Comfortaa', cursive;
    max-width: 1500px;
    margin: auto;
    background-color: #3F9EFC;
    height: 100vh;
    overflow: scroll;
}

.flexContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.plus {
    display: flex;
    font-size: 1.5rem;
    width: 30%;
    justify-content: center;
    height: fit-content;
    background: linear-gradient(#82FB69, #18D41B);
    border-radius: 10px;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.plus:hover {
    background-color: #376438;
}

.minus {
    display: flex;
    width: 30%;
    justify-content: center;
    height: fit-content;
    font-size: 1.5rem;
    background: linear-gradient(#FF5631, #FF3B2F);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.minus:hover {
    background-color: #a1302a;
}


.workoutType {
    background-color: aliceblue;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: fit-content;
}


.global {
    display: flex;
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    margin-top: 10px;
    color: black;
    background-color: rgb(32, 103, 174);
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    background-color: #374464;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
    border-radius: 10px;
    height: fit-content;
    color: black;
    background-color: white;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #273046;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    color: white;
}

.title {
    width: 170px;
    margin-right: auto; 
    margin-left: 20px;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: normal;
    background-color: #374464;
    border: 1px solid #374464;
    border-radius: 10px;
    color: white;
}

.title::placeholder {
    color: white;
}

.title1 {
    margin-right: 20px;
    color: rgb(167, 222, 190); 
    font-size: 1.2rem;
    color: white;
}

.flexContainer1 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: black;
    font-weight: bold;
}

.weightLbs {
    border-radius: 10px;
    display: flex;
    color: black; 
    background-color: #657aae;
    border: 1px solid #657aae;
    margin-bottom: 10px;
    height: 50px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white; 
    padding: 10px;
    color: white;
}

.weightLbs::placeholder {
    color: white;
}

.weightLbs1 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    color: #a1302a;
}

.weightLbs2 {
    margin-right: 20px;
    color: white;
    margin-top: 20px;
    color: #a1302a;
}

.submit {
    color: white; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50%;
    border-radius: 10px;
    background-color: dodgerblue;
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}


.scroller {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 47vh;
    width: 100%;
    background-color:  rgb(32, 103, 174);
    border-radius: 10px;
}

.select {
    width: 30%;
    padding: 12px 20px;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: dodgerblue;
  }

  .select::placeholder {
    color: white;
  }

.noWorkouts {
    margin-top: 20px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.topFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.workoutCardsMargin {
    width: 95%;
    margin: auto;
    margin-bottom: 30px;
}

.typeCards {
    width: 95%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loadingSpinner {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}